.channel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
img,
.c-link {
  cursor: pointer;
}

.video {
  // color: rgb(200, 200, 200);
  padding: 5px;
  p {
    word-break: break-word;
    margin-bottom: 3px;
  }
  width: 320px;
  b {
    margin-left: 3px;
  }
}
.title {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  padding: 10px 0;
}
