.router {
  background: #131313;
  min-height: calc(100vh - 64px);
  padding-top: 10px;
  padding-top: 64px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
